:root {
  --color-background: #141C2E;
  --primary-color: #111827;
  --secondary-color: #4285f4;
  --color-white: #edeffd;
  --font-color: #f5f6ff;
  --font-primary: "Poppins", sans-serif;
  --transition: all 300ms linear;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.123);
  --border-radius: 5px;
}

.toogle-theme {
  --color-background: #edeffd;
  --secondary-color: #0ea2f6;
  --font-color: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 2rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: var(--font-primary);
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#open-btn {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
#open-btn div {
  width: 1.5rem;
  height: 3px;
  margin-bottom: 4px;
  border-radius: 5rem;
  background-color: grey;
  cursor: pointer;
}

.header .header-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
}
.header .header-content .theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
.header .header-content .theme-toggle .hamburger-menu div {
  width: 1.5rem;
  height: 3px;
  margin: 4px 0;
  border-radius: 5rem;
  background-color: grey;
  transform-origin: left;
  cursor: pointer;
  transition: var(--transition);
}
.header .header-content .theme-toggle .hamburger-menu .bar-top {
  transform: rotate(45deg);
}
.header .header-content .theme-toggle .hamburger-menu .bar-middle {
  transform: translateX(1rem);
  opacity: 0;
}
.header .header-content .theme-toggle .hamburger-menu .bar-bottom {
  transform: rotate(-45deg);
}
.header .header-content .theme-toggle .theme-toggle-btns {
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header-content .theme-toggle .theme-toggle-btns span {
  width: 5rem;
  padding: 0.2rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 5rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}
.header .header-content .theme-toggle .theme-toggle-btns span::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 100rem;
  background-color: white;
  display: none;
}
.header .header-content .theme-toggle .bx {
  font-size: 20px;
  color: var(--color-white);
}
.header .header-content .theme-toggle .bxs-moon {
  color: #101010;
}
.header .header-content .theme-toggle .bxs-sun {
  color: #FFFF33;
}
.header .header-content .nav-bar li {
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  color: red;
}
.header .header-content .nav-bar li a {
  text-decoration: none;
  color: var(--color-white);
}
.header .header-content .nav-bar li:hover {
  background-color: var(--secondary-color);
}

/*# sourceMappingURL=styles.css.map */
