:root {
  --color-background: #141C2E;
  --primary-color: #111827;
  --secondary-color: #4285f4;
  --color-white: #edeffd;
  --font-color: #f5f6ff;
  --font-primary: "Poppins", sans-serif;
  --transition: all 300ms linear;
  --box-shadow: 0 2px 2px rgba(0, 0, 0, 0.123);
  --border-radius: 5px;
}

.toogle-theme {
  --color-background: #edeffd;
  --secondary-color: #0ea2f6;
  --font-color: #111827;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 2rem;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-white);
  font-family: var(--font-primary);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  padding: 2rem 0 3rem;
}

.container {
  max-width: 1024px;
  margin: auto;
}

.header .header-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 60%;
  background-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  padding: 1rem;
  transition: all 1s ease-in-out;
}
.header .header-content .theme-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}
.header .header-content .theme-toggle .theme-toggle-btns {
  width: 5rem;
  padding: 0.2rem 0.4rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 100rem;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.header .header-content .theme-toggle .theme-toggle-btns::before {
  content: "";
  left: 50%;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 100rem;
  background-color: #ffffff;
  display: none;
}
.header .header-content .theme-toggle .theme-toggle-btns .bx {
  font-size: 20px;
  color: var(--color-white);
}
.header .header-content .theme-toggle .theme-toggle-btns .bxs-moon {
  color: #1f1d1d;
}
.header .header-content .theme-toggle .theme-toggle-btns .bxs-sun {
  color: #FFFF33;
}
.header .header-content .hamburger-menu {
  position: sticky;
  top: 1rem;
  left: 1rem;
}
.header .header-content .hamburger-menu .bar-top,
.header .header-content .hamburger-menu .bar-middle,
.header .header-content .hamburger-menu .bar-bottom {
  width: 1.5rem;
  height: 3px;
  margin: 5px 0;
  border-radius: 5rem;
  background-color: grey;
  transform-origin: left;
  cursor: pointer;
  transition: var(--transition);
}
.header .header-content .hamburger-menu .bar-top {
  transform: rotate(45deg) translateY(-1px);
}
.header .header-content .hamburger-menu .bar-middle {
  opacity: 0;
}
.header .header-content .hamburger-menu .bar-bottom {
  transform: rotate(-45deg) translateY(1px);
}
.header .header-content .navbar li {
  list-style: none;
  margin-bottom: 1rem;
  padding: 0.3rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
  color: red;
}
.header .header-content .navbar li a {
  text-decoration: none;
  color: var(--color-white);
}
.header .header-content .navbar li:hover {
  background-color: var(--secondary-color);
}

.open-navbar {
  transform: translateX(0);
}

/*# sourceMappingURL=styles.css.map */
