@use 'variables' as *;


.aboutme-info {
   max-width: 40rem;
   margin: 0 auto;
   // border: 2px solid rgb(197, 12, 166);
}

.aboutme-avatar{
   margin: 0 auto;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: lightblue;
   box-shadow:  0px 5px 15px var(--dark-color);
}


.avatar-img {
   width: 105px;
   height: 105px;
   object-fit: cover;
   border-radius: 50%;
}

.info-text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 1rem;
   margin: 1rem 0;
}

.info-text h3 {
   position: relative;
   font-size: 1.2rem;
   font-weight: 900;
   color: var(--secondary-color);

   &::before {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      top: 50%;
      right: 60px;
      transform: translateY(-50%);
      background-color: var(--secondary-color);
   }

   &::after {
      position: absolute;
      content: '';
      width: 20px;
      height: 2px;
      top: 50%;
      left: 60px;
      transform: translateY(-50%);
      background-color: var(--secondary-color);
   }
}

.info-text-color {
   font-weight: 900;
   color: var(--secondary-color);
}

.socials {
   max-width: 40rem;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 2rem 0 0;
}

.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   padding: 1.2rem;
   margin-left: 1rem;
   cursor: pointer;
   transition: var(--transition);
   box-shadow: var(--box-shadow);
   background-color: var(--secondary-color);
   border: .1rem solid var(--dark-color-2);
}

.social-link-icon{
   font-size: 20px;
   color: var(--primary-color);
}

.social-link:hover {
   transform: scale(1.1);
   background-color: transparent;
   color: var(--secondary-color);
   border-color: var(--secondary-color);
}

.social-link:hover .social-link-icon{
   color: var(--secondary-color);
}
