@use 'variables' as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-margin-top: 2rem;
   scroll-behavior: smooth;
}

body {
   background-color: var(--color-background);
   font-family: var(--font-primary);
}

.container {
   max-width: 1024px;
   margin-left: auto;
   margin-right: auto;
}