@use 'variables' as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-margin-top: 2rem;
   scroll-behavior: smooth;
   transition: all 300ms ease;
   
}

body {
   background-color: var(--color-background);
   color: var(--font-color) ;
   font-family: var(--font-primary);
}

a {
   color: var(--font-color);
   text-decoration: none;
}

li {
   list-style: none;
}

section {
   padding: 2rem 0 3rem;
}

.container {
   width: 95%;
   max-width: 1024px;
   margin: auto;
   // border: 2px solid red;
}