@use 'variables' as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   scroll-margin-top: 5rem;  
   font-family: var(--font-primary);
}

body {
   background-color: var(--color-background);
   color: var(--font-color) ;
   transition: all 400ms ease-in-out;
   font-size: .9rem;
}

img {
   width: 100%;
}

a {
   color: var(--font-color);
   text-decoration: none;
}

li {
   list-style: none;
}

section {
   margin: 5rem 0 5rem;
}

textarea {
   resize: none;
}

.section__title {
   margin: 1.5rem 0;
   text-align: center;
   font-size: 2rem;
   font-weight: 900;
   color: var(--dark-color-variant);
}

.container {
   width: 90%;
   max-width: 1024px;
   margin-inline: auto;

   // border: 1px solid red;
}