@use 'variables' as *;

.projects-content {
   display: grid;
   gap: 3rem;
}

/*===== PROJECT BOX =====*/
.project-box{
   position: relative;
   width: 100%;
   border-radius: 1rem;
   overflow: hidden;    
   box-shadow: var(--box-shadow);
}

.box-img {
   height: 12rem;
   border-radius: 1rem;
   border: 2px solid var(--dark-color-2);
   overflow: hidden;
}

.project-img{
   object-fit: cover;
   object-position: center;
   height: 100%; 
}

.project-info {
   text-align: center;
}

.project-overlay-title {
   display: none;
}

/*=== PROJECTS LINKS */
.project-links {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   width: 100%;
   padding: .3rem;
   background-color: var(--color-background);
   box-shadow: var(--box-shadow);
}

.project-link {
   margin-inline: 1.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   cursor: pointer;
   color: var(--font-color);
   transition: var(--transition);
   padding: 1rem;
}


.project-link-icon {
   font-size: 20px;
   color: var(--font-color);
}


/*===== RESPONSIVE =====*/
@media (min-width:$breakpoint-sm){
   .projects-content {
      grid-template-columns: repeat(2,1fr);
   }
}

@media(min-width:$breakpoint-lg){
   .box-img {
      height: 16rem;
   }

   /*===== OVERLAY =====*/
   .project-overlay {
      position: absolute;
      text-align: center;
      inset: 0;
      opacity: 90%;
      transform: translateY(-100%);
      transition: transform 200ms;
      padding: 0 1rem;
      overflow: hidden;
      color: var(--font-color);
      background-color: var(--dark-color);
   }

   .project-link:hover {
      transition: var(--transition);
      animation: poplink 2s infinite linear;
   }

   .project-box:hover .project-overlay {
      transition: var(--transition);
      transform: translateY(0);
   }
   
   .project-link:hover .project-link-icon {
      color: var(--secondary-color);
      transition: var(--transition);
   }

   @keyframes poplink {
      0% {
         transform: scale(1);
      }

      50% {
         transform: scale(1.2);

      }

      100% {
         transform: scale(1);
      }
   }

   .project-overlay-title {
      display: block;
      margin: 1rem;
   }

   /*=== OVERLAY PROJECTS LINKS */
   .project-links {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
   }
}
