@use 'variables' as *;


.projects-content {
   display: grid;
   // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 2rem;
}

/*===== PROJECT BOX =====*/
.project-box{
   position: relative;
   width: 100%;
   height: 15rem;
   border: 2px solid var(--dark-color-variant);
   border-radius: 1rem;
   overflow: hidden;
}

.project-img{
   height: 100%;
   object-fit: cover;
   object-position: center;
   user-select: none;
}

/*===== OVERLAY =====*/
.project-overlay {
   position: absolute;
   text-align: center;
   inset: 0;
   opacity: 80%;
   // transform: translateY(-100%);
   transition: transform 200ms;
   color: var(--font-color);
   background-color: var(--dark-color);
}

.project-box:hover .project-overlay {
   transition: var(--transition);
   transform: translateY(0);
}

.project-overlay-title {
   margin: 1rem;
}

.project-links {
   display: flex;
   justify-content: center;
   gap: 2rem;
   width: 100%;
   padding: .5rem;
   position: absolute;
   bottom: 0;
   background-color: var(--dark-color-variant);
}

.project-link {
   margin-inline: 1.6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   padding: .5rem;
   cursor: pointer;
   transition: var(--transition);
   box-shadow: var(--box-shadow);
   border: .1rem solid var(--dark-color-variant);

}

.project-link-icon {
   font-size: 25px;
}