
:root {
   --color-background: #181a1e;
   --primary-color: #202528;
   --secondary-color: #4285f4;


   --dark-color:  #0000002c;
   --dark-color-variant:  rgb(77, 74, 74);
   --light-color: #edeffd;

   --font-color: #f5f6ff;

   --font-primary: 'Poppins', sans-serif;

   --transition: all 300ms linear;

   --box-shadow: 0 1rem 1rem var(--dark-color);   

   --border-radius: 5px;
 
}

/*===== LIGHT THEME =====*/
.light-theme {
   --color-background: #f6f6f9;
   --primary-color: #ffffff;
   --secondary-color: #0ea2f6; 

   --light-color:#848bc82e;
   
   --dark-color: hsla(0, 2%, 30%, 0.226);
   --dark-color-variant: grey;
   --font-color: #464343;

   --box-shadow: 0 2rem 3rem var(--light-color);
}

/*===== MEDIA QUERIES VARIABLES =====*/
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
